* {
   box-sizing: border-box;
   font-family: "Staatliches", sans-serif;
   font-weight: 400;
   font-style: normal;
}

body {
   margin: 0;
   padding: 1em;
   width: 100vw;
   height: 100vh;
   font-size: 1em;
   background-color: rgb(219, 208, 185);
}
button {
   touch-action: manipulation;
}
button[disabled] {
   touch-action: none;
}

span {
   pointer-events: none;
}

svg {
   animation-duration: 6s;
   animation-name: polygon-transition;
   border-radius: 100%;
   scale: 70%;
   background-color: white;
   border: solid 10px white;
}

@keyframes polygon-transition {
   0% {
      scale: 0%;
      opacity: 0;
      transform: rotate(0deg);
   }
   40% {
      scale: 70%;
      opacity: 0.7;
   }
   100% {
      opacity: 1;
      transform: rotate(360deg);
   }
}

polygon {
   scale: 120%;
   stroke: black;
   stroke-width: 0.1px;
   transform-origin: center;
   transform-box: fill-box;
   animation: rotating 200s linear infinite;
}

@keyframes rotating {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

#primary-container {
   height: 100%;
}

#top-container {
   background-color: rgb(85, 80, 80);

   #data {
      height: 120px;
      width: 20%;
      background: linear-gradient(160deg, #dac5b3 0%, #acb6a4 25%, #799d8d 50%, #567f70 75%, #515f4f 100%);
      border: 3px solid black;
      color: black;
      position: relative;
   }

   #bank-text {
      align-self: center;
   }

   #display-bank-vertex-timer {
      position: absolute;
      background: linear-gradient(135deg, #f8e08e 0%, #e2a938 100%);
      height: inherit;
      align-self: flex-start;
      height: 10px;
      border-top: 1px solid black;
      box-shadow: 0px 0px 10px -2px black;
      bottom: 0;
   }
   #set-right {
      justify-content: flex-end;
   }

   #display-bank-vertex,
   #display-bank-edge,
   #display-bank-polygon,
   #display-bank-mesh {
      font-size: 3em;
   }
}

#content-container {
   /* height: 100%; */
   /* min-height: 0; */
   span {
      margin: 0px;
      padding: 1px;
   }

   #span-increase {
      background-color: rgb(84, 213, 127, 0.5);
   }
   #span-decrease {
      background-color: rgba(213, 95, 84, 0.5);
   }
   button {
      font-size: 1em;
      width: 200px;
      height: 70px;
      padding-top: 5px;
      padding-bottom: 5px;
   }

   #left-content {
      background-color: rgb(85, 80, 80);

      max-width: 40%;
      /* width: auto; */
   }

   #middle-content {
      /* min-width: 40%; */
      /* max-width: 50%; */

      #svg-container {
         /* height: auto; */
         height: 100%;
         width: 100%;
         /* width: 100%; */
         /* flex: 1 1 0%; */
         background-color: rgb(219, 208, 185);
      }
   }

   #right-content {
      background-color: rgb(85, 80, 80);

      max-width: 30%;
      width: auto;
   }
}

.row {
   display: flex;
   flex-direction: row;
}

.column {
   display: flex;
   flex-direction: column;
}

.wrap {
   flex-wrap: wrap;
}

.flex {
   flex: 1 1 200px;
}

.gap {
   gap: 1em;
}

.shrink {
   flex-shrink: 1;
}

.grow {
   flex-grow: 1;
}

.justify-evenly {
   justify-content: space-evenly;
}

.justify-between {
   justify-content: space-between;
}

.justify-center {
   justify-content: center;
}

.align-center {
   align-items: center;
}

.justify-start {
   justify-content: flex-start;
}

.align-start {
   align-items: flex-end;
}

.padding-1 {
   padding: 1em;
}
.padding-2 {
   padding: 2em;
}

.padding-4 {
   padding: 4em;
}

.margin-1 {
   margin: 0.5em;
}

.text-center {
   text-align: center;
}

.circle-border {
   border-radius: 100%;
}
