* {
   box-sizing: border-box;
}
body {
   margin: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgb(215, 189, 155);
   font-size: 1.2em;
}

#primary-container {
   height: 100%;
   width: 100%;
}

#top-container {
   height: auto;
   background-color: rgb(140, 183, 213);

   #data {
      height: 50px;
      width: 20%;
      background-color: rgb(182, 213, 140);
   }
}

#content-container {
   height: 100%;
   background-color: rgb(178, 123, 123);

   #left-content {
      height: auto;
      width: 20%;
      min-width: 300px;
      background-color: rgb(141, 177, 124);
   }

   #middle-content {
      height: auto;
      width: 50%;
      min-width: 300px;
      background-color: rgb(176, 159, 188);
   }

   #right-content {
      height: auto;
      width: 20%;
      min-width: 300px;
      background-color: gray;
   }
}

.row {
   display: flex;
   flex-direction: row;
}

.column {
   display: flex;
   flex-direction: column;
}

.wrap {
   flex-wrap: wrap;
}

.flex {
   flex: 1 1 200px;
}

.gap {
   gap: 1em;
}

.shrink {
   flex-shrink: 1;
}

.grow {
   flex-grow: 1;
}

.justify-evenly {
   justify-content: space-evenly;
}

.justify-between {
   justify-content: space-between;
}

.justify-center {
   justify-content: center;
}

.align-center {
   align-items: center;
}

.padding-1 {
   padding: 1em;
}

.margin-1 {
   margin: 0.5em;
}

.text-center {
   text-align: center;
}
