* {
   box-sizing: border-box;
   /* overflow: hidden; */
}
body {
   margin: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgb(219, 208, 185);
   font-size: 1.2em;
}

span {
   pointer-events: none;
}

svg {
   animation-duration: 2s;
   animation-name: polygon-transition;
   border-radius: 100%;

}

@keyframes polygon-transition {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

polygon {
   scale: 150%;
   stroke: white;
   stroke-width: 0.1px;
   transform-origin: center;
   transform-box: fill-box;
   animation: rotating 300s linear infinite;
}

@keyframes rotating {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

#primary-container {
   height: 100%;
   /* width: 100%; */
}

#top-container {
   background-color: rgb(85, 80, 80);

   #data {
      height: 50px;
      width: 20%;
      background-color: rgb(176, 182, 168);
   }
}

#content-container {
   /* height: 100%; */
   /* min-height: 0; */
   background-color: rgb(85, 80, 80);

   button {
      width: 30%;
      min-width: 100px;
      height: 50px;
   }

   #left-content {
      max-width: 20%;
      width: auto;
      background-color: rgb(255, 242, 222);
   }

   #middle-content {
      min-width: 40%;

      background-color: white;

      #svg-container {
         /* height: auto; */
         height: auto;
         width: auto;
         /* width: 100%; */
         /* flex: 1 1 0%; */
      }
   }

   #right-content {
      max-width: 20%;
      width: auto;
      background-color: rgb(255, 242, 222);
   }
}

.row {
   display: flex;
   flex-direction: row;
}

.column {
   display: flex;
   flex-direction: column;
}

.wrap {
   flex-wrap: wrap;
}

.flex {
   flex: 1 1 200px;
}

.gap {
   gap: 1em;
}

.shrink {
   flex-shrink: 1;
}

.grow {
   flex-grow: 1;
}

.justify-evenly {
   justify-content: space-evenly;
}

.justify-between {
   justify-content: space-between;
}

.justify-center {
   justify-content: center;
}

.align-center {
   align-items: center;
}

.justify-start {
   justify-content: flex-start;
}

.align-start {
   align-items: flex-start;
}

.padding-1 {
   padding: 1em;
}
.padding-2 {
   padding: 2em;
}

.padding-4 {
   padding: 4em;
}

.margin-1 {
   margin: 0.5em;
}

.text-center {
   text-align: center;
}

.circle-border {
   border-radius: 100%;
}
